/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    margin: 0;
    padding: 20px 0;  /* Añadido padding para asegurar que haya espacio alrededor del contenido */
    height: auto;  /* Cambiado de 100vh a auto para que el contenido determine la altura */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiado a flex-start para alinear el contenido al inicio de la página */
}

/* Container */
.container {
    background-color: #f9f7f3; /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

/* Header */
h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #22333b; /* Añadido color para resaltar el título */
}

/* Movie Form */
.movie-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px; /* Añade espacio debajo del formulario */
    color: #252525;
    text-align: center;
}

.movie-form input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 50%;
    margin-left: 25%;
}

.movie-form button {
    padding: 10px;
    background-color: #38b000;
    margin-left: 31%;
    width: 40%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    transition: background-color 0.3s ease;
}

.movie-form button:hover {
    background-color: #3e841e;
}

/* Movies Table */
#movies-table {
    width: 100%;
    margin: 0 auto; /* Centrar la tabla horizontalmente */
    border-collapse: collapse;
    margin-top: 20px; /* Espacio entre formulario y tabla */
}

#movies-table th, #movies-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left; /* Alineación a la izquierda para mejor presentación */
    word-wrap: break-word; /* Permite el ajuste de palabras largas */
    max-width: 200px; /* Establece un ancho máximo para las celdas */
}

#movies-table th {
    background-color: #959493;
    color: white;
    text-align: center;
}

#movies-table td {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: #252525;
    overflow-wrap: break-word; /* Asegura que el texto largo se ajuste */
}

#movies-table button {
    margin-left: 5%;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#movies-table .edit-btn {
    background-color: #3498db;
    color: #fff;
}

#movies-table .edit-btn:hover {
    background-color: #2980b9;
}

#movies-table .delete-btn {
    background-color: #e74c3c;
    color: #fff;
}

#movies-table .delete-btn:hover {
    background-color: #c0392b;
}
